<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-sm-12">
      <h1 class="title-login" >TAPANKO</h1>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <input type="text" class="input-login abs-center" placeholder="USUARIO">
      <input type="password" class="input-login abs-center" placeholder="CONTRASEÑA">
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 d-flex align-items-end flex-column">
      <p class="txt-create-acount" (click)="irARegistro()">¿OLVIDASTE TU CONTRASEÑA?</p>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-12 div-btn-login">
      <button class="btn-login">INGRESAR</button>
      <button class="btn-login">NUEVO USUARIO</button>
    </div>
  </div>
</div>
